:root {
    /* Colors */
    --primary: #ffbe78;
    --primary-container: #f39c2d;
    --secondary: #c8c6c8;
    --secondary-container: #474649;
    --tertiary: #6cd8ff;
    --tertiary-container: #00beec;
    --background: #131315;
    --surface: #131315;
    --surface-bright: #39393b;
    --surface-dim: #131315;
    --surface-container-lowest: #0e0e10;
    --surface-container-low: #1b1b1d;
    --surface-container: #201f21;
    --surface-container-high: #2a2a2c;
    --surface-container-highest: #353437;
    --on-background: #e5e1e4;
    --on-surface: #e5e1e4;
    --on-surface-variant: #d9c3af;
    --on-primary: #492900;
    --on-primary-container: #623900;
    --outline: #a18d7b;
    --outline-variant: #534435;
    --error: #ffb4ab;
    --error-container: #93000a;
    
    /* Layout */
    --container-max: 1280px;
    --gutter: 24px;
    --margin-mobile: 20px;
    --margin-desktop: 64px;
    --unit: 8px;
    
    /* Radius */
    --radius-default: 0.125rem;
    --radius-lg: 0.25rem;
    --radius-xl: 0.5rem;
    --radius-full: 0.75rem;

    /* Fonts */
    --font-inter: 'Inter', sans-serif;
    --font-space: 'Space Grotesk', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-space);
}
